$currentTheme: (
    primary: (
        header: #e4e4e4,
        background: #f7f7f7,
        text: $Black,
    ),
    secondary: (
        box-shadow: #5353539c,
        text: #c0bcbc,
        itemBackground: #e9e9e9,
    ),
);
