@import "./../../sass/variables.scss";

.pokemonItemWrapper {
    display: flex;
    width: 400px;
    flex-direction: column;
    border-radius: 5px;
    margin: 5px 0 15px 10px;
    padding: 5px;
    transition: 0.1s ease-in;
    transform: scale(1);
    img {
        height: 200px;
    }
    &:hover {
        transform: scaleX(1.02) scaleY(1.015);
        box-shadow: 0 2px 5px map-deep-get($currentTheme, "secondary", "box-shadow");
    }
}
.pokemonAvatarContainer {
    display: flex;
    justify-content: center;
}
.pokemonItemName {
    font-size: 30px;
    font-weight: 500;
}
.pokemonItemElement {
    font-size: 20px;
    font-weight: 300;
}
.pokemonDescription {
    margin-left: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    div {
        margin-bottom: 4px;
    }
}

.pokemonAbilities {
    padding: 0 5px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: map-deep-get($currentTheme, "secondary", "itemBackground");
}
